{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="login-container">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-control'}}) }}

        <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(registrationForm) }}

        <a href="/" class="btn btn-secondary">Se connecter</a>
    </div>
{% endblock %}